
.row-header{
margin: 0px auto;
padding: 0px auto;
}.row-content{
margin: 0px auto;
padding: 0px auto;
border-bottom: 1px ridge;
min-height: 400px;
}.footer{
background-color: rgba(36, 36, 53, 0.308);
margin: 0px auto;
padding: 20px 0px 20px 0px;
}.jumbotron{
padding: 70px 30px 70px 30px;
margin: 0 auto;
background-color: rgb(173, 85, 85);
color: floralwhite;
}.address{
font-size: 90%;
margin: 0px;
color: black;
}

