body{
align-items: center;
background-color: rgba(218, 141, 86, 0.692);
text-align: center;
margin:0px auto;
}.container a{
margin-top: 20px;    
margin-bottom: 20px;
background-color: rgba(238, 51, 67, 0.753);
padding: 20px 20px 20px 20px;
border: 1px solid black;
font-size: small;
color: floralwhite;

}#a{
color: aliceblue;
text-decoration: none;
}
#a1:hover{
background-color: rgb(235, 7, 45);
color: floralwhite;
text-decoration: none;

}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blue;
}ul li{
list-style: none;
text-decoration: none;
padding: 20px 20px 20px 20px;
border: 1px solid black;
font-size: large;
background-color: rgba(235, 166, 64, 0.76);
color: floralwhite;
display: flexbox;
}
ul li:hover{
background-color: blue;
}